/* 폰트 선언 */

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
* { 
    font-family: 'Nanum Gothic', 'Sans-serif'; 
}

/* 보더, 마진 제로 */

body {
    border: 0;
    margin: 0;
    background-color: #F29661;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* 헤더 */

header {
    background-color: #F29661;
    width: 100%;
    display: inline-block;
    height: 150px;
}

header > ul > li {
    list-style: none;
    font-size: 30px;
    width: 180px;
    height: 50px;
    text-align: center;
    padding: 10px 0 0 0;
    color: black;
}

#logo {
    float: left;
    margin: 0;
}

#menu {
    float: right;
    margin: 25px;
}

#menu:hover {
    background-color: white;
    display: inline-block;
}

/* a 효과 제거 */

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}