/* 헤더 */

header {
    background-color: #F29661;
    width: 100%;
    display: inline-block;
    height: 150px;
}

header > ul > li {
    list-style: none;
    font-size: 30px;
    width: 180px;
    height: 50px;
    text-align: center;
    padding: 10px 0 0 0;
    color: black;
}

#logo {
    float: left;
    margin: 0;
}

#menu {
    float: right;
    margin: 25px;
}

#menu:hover {
    background-color: white;
    display: inline-block;
}

/* 본문.1 */

#body_1 {
    background-image: url(../img/background/body_1.jpg);
    width: 100%;
}

#body_1 > h1 {
    text-align: center;
    margin: 0;
    font-size: 100px;
    color: white;
}

/* 본문.2 */

#body_2 {
    background-color: white;
    padding: 100px 50px;
}

#body_2 > h1 {
    font-size: 50px;
}

/* 본문.3 */

#body_3 {
    background-color: #BDBDBD;
    padding: 100px 50px;
}

#body_3 > h1 {
    font-size: 50px;
}